.relayButton,
.pwmButton {
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: 1.3rem !important;
}

.pwmButton .pwmDutySlider {
    height: 75px;
}

.pwmData {
    width: 70px;
    font-size: 1rem !important;
}

.pwmDutySliderButton {
    width: 45px;
}

.pwmDutyCycle {
    font-size: 0.8rem;
}

.relayIcon svg,
.pwmIcon svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .pwmButton {
        height: 70px;
        font-size: 1.1rem !important;
    }

    .pwmButton .pwmDutySlider {
        height: 50px;
    }

    .pwmData {
        width: 45px;
        font-size: 0.8rem !important;
    }
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.btn-overheat {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd7e14;
    --bs-btn-border-color: #fd7e14;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d76809;
    --bs-btn-hover-border-color: #ca6308;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ca6308;
    --bs-btn-active-border-color: #be5d07;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fd7e14;
    --bs-btn-disabled-border-color: #fd7e14;
}